@model IEnumerable<GerenciadorCartoesCredito.Models.Cartao>

@{
    ViewData["Titlle"] = "Cartões Cadastrados";
}

<h3>Listagem de Carões</h3>
<hr />


<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.CartaoId)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.NomeBanco)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.NumeroCartao)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Limite)
            </th>
             <th></th>
        </tr> 
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modeItem => item.CartaoId)
                </td>
                <td>
                    @Html.DisplayFor(modeItem => item.NomeBanco)
                </td>
                 <td>
                    @Html.DisplayFor(modeItem => item.NumeroCartao)
                </td>
                 <td>
                    @Html.DisplayFor(modeItem => item.Limite)
                </td>
                <td>
                    <a asp-action="AtualizarCartao" asp-route-cartaoId="@item.CartaoId" class="btn btn-sm btn-primary">Atualizar</a>
                    <a asp-controller="Gastos" asp-action="ListagemGastos" asp-route-cartaoId="@item.CartaoId" class="btn btn-sm btn-secondary">Gastos</a>
                    
                    <form style="margin-left: 140px; margin-top: -31px;" asp-action="ExcluirCartao" asp-route-cartaoId="@item.CartaoId" onclick="return confirm('O Cartão @item.NumeroCartao Será excluido clique em (Ok) ou (Cancelar)...!')">
                    <button type="submit" class="btn btn-sm btn-danger">Excluir</button></form>
                </td>
            </tr>
        }
    </tbody>    
</table>

<br /><br />

 <button type="button" class="btn btn-success btn-sm" onclick="Voltar()">Voltar para o inicio</button>

 <script>
     function Voltar(){
         window.location.href = '../Home/Index'
     }
 </script>